
// HEADER ================================================================

.main_header {
   position: absolute;
   width: 100%;
   top: 30px;
} 

.main-page-header-h1 {
   color: #F1CDB3;
}

.main-page-header-p {
   font-size: 13px;
   line-height: 15px;
   letter-spacing: 0.1em;
   margin-top: 10px;
   color: #FFFFFF;
}

.main_nav_link {
   color: #CDCDCD;
   text-decoration: none;
}

.main_nav_hightlight {
   border-bottom: 3px solid #F1CDB3;
   padding-bottom: 4px;
   color: #FAFAFA;
}

// NOT-ONLY SECTION ===========================================================

.not_only_background {
  // max-height: 908px;
   background-color: #211F20;
   background-image: radial-gradient(farthest-corner at 1% 3%, #5B483A 1%, #262425 60%);
   background-size: cover;
}

.not_only_wrapper {
  // padding-bottom: 0;
 //  padding-top: 181px;
   padding-top: 90px;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   column-gap: 30px;
   row-gap: 100px;
   object-fit: contain;
   justify-content: space-between;
}
@media (min-width: 768px) and (max-width: 1279px) {
   .not_only_wrapper {
      flex-wrap: wrap;
      justify-content: end;
      padding-top: 150px;
   }
}
@media (max-width: 767px) {
   .not_only_wrapper {
      flex-direction: column;
      row-gap: 15px;
      justify-content: end;
   }
}

.not_only_text {
 //  max-width: 470px;
   align-self: center;
   margin-top: 7px;
}
@media (min-width: 768px) and (max-width: 1279px) {
   .not_only_text {
      width: 60vw;
      margin: auto;
   }
}
@media (max-width: 767px) {
   .not_only_text {
   text-align: center;
   width: 100%;
   margin: 0 auto;
   padding-top: 60px;
   }
} 

.not_only_title {
  // padding-top: 163px;
   margin: 0 0 42px 0;
   letter-spacing: -0.01px;
   color: #FFFFFF;
}
@media (max-width: 767px) {
   .not_only_title {
      letter-spacing: 0.06em;
   }
}

.not_only_p1 {
   margin: 0 0 42px 0;
   color: #CDCDCD;
}

.not_only_button_link {
   text-decoration: none;
}

.not_only_button {
   margin: auto;
   padding-left: 0px;
   @media (max-width: 1279px) {
   button {
      margin: auto;
      }
   }
}

.not_only_img {
  // max-width: 698px;
   padding-top: 90px;
}
@media (min-width: 768px) and (max-width: 1279px) {
   .not_only_img {
   width: 74vw;
   align-self: flex-end;
   padding-top: 0;
   padding-right: 0;
   margin-right: 0;
   }
}
@media (max-width: 767px) {
   .not_only_img {
      width: 81vw;
      align-self: flex-end;
   }
}

// ABOUT SECTION ===============================================================

.about_background {
 //  max-height: 588px;
   background: #FFFFFF;
}

.about_wrapper {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   align-items: center;
   justify-content: center;
   column-gap: 120px;
}
@media (max-width: 1279px) {
   .about_wrapper {
      flex-direction: column-reverse;
      row-gap: 84px;
   }
}
@media (max-width: 767px) {
   .about_wrapper {
      row-gap: 40px;
   }
}

.about_text {
   max-width: 430px;
}
@media (min-width: 768px) and (max-width: 1279px) {
   .about_text {
      max-width: 55vw;
      margin-left: -5px;
   }
}
@media (max-width: 767px) {
   .about_text {
      max-width: 55vw;
      text-align: justify;
      padding: 0 15px;
   }
}

@media (max-width: 767px) {
   .about_title {
      text-align: center;
   }
}

.about_p {
   margin: 24px 0 0 0;
}

@media (min-width: 768px) and (max-width: 1279px) {
.about_img { 
   max-width: 39vw;
}
}
@media (max-width: 767px) {
   .about_img {
      padding: 0 20px;
   }
}

// OUR-FRIENDS SECTION ================================================

.our_friends_background {
  // max-height: 877px;
   background: #F6F6F6;
}

.our_friends_wrapper {
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   align-items: center;
}

.our_friends_title {
   margin: 0 0 60px 0;
}
@media (max-width: 767px) {
   .our_friends_title {
      margin: 0 0 40px 0;
   }
}

.our_friends_slider {
   width: 100%;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
 //  column-gap: 53px;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 61px;
}
@media (max-width: 767px) {
   .our_friends_slider {
      max-width: 84vw;
      flex-wrap: wrap;
      row-gap: 23px;
      justify-content: space-around;
      margin-bottom: 40px;
   }
}

.our_friends_inside_slider {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   width: 990px;
}
@media (min-width: 768px) and (max-width: 1279px) {
   .our_friends_inside_slider {
      width: 82%;
   }
   .our_friends_inside_slider div:nth-child(3) {
      display: none;
   }
}
@media (max-width: 767px) {
   .our_friends_inside_slider {
      order: -1;
   }
   .our_friends_inside_slider div:nth-child(2),
   .our_friends_inside_slider div:nth-child(3) {
      display: none;
   }
}


// HELP SECTION ===========================================================

.help_background {
 //  max-height: 611px;
   background: #FFFFFF;
}

.help_wrapper {
   display: flex;
   flex-direction: column;
   justify-content: center;
   object-fit: contain;
   margin-bottom: 0;
}

.help_title {
   margin: 1px 0 60px 0;
}
@media (max-width: 767px) {
   .help_title {
      margin: 1px 0 40px 0;
   }
}

.help_table {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;
   object-fit: contain;
   justify-content: center;
   gap: 55px 119px;
   margin: 0 auto;
  // width: 100%;
}
@media (min-width: 768px) and (max-width: 1279px) {
   .help_table {
      display: grid;
      grid-template-columns: repeat(3, auto);
      align-items: center;
      object-fit: contain;
      justify-content: center;
      margin: 0 auto;
      grid-column-gap: 73px; 
      grid-row-gap: 55px;
   }
}
@media (max-width: 767px) {
   .help_table {
      max-width: 95vw;
      display: grid;
      grid-template-columns: repeat(2, auto);
      object-fit: contain;
      justify-content: space-between;
      margin: 0 auto;
      padding-left: 10px;
      grid-column-gap: 45px;
      grid-row-gap: 30px;
   }
}

.help_card {
   display: flex;
   flex-direction: column;
   align-items: center;
   object-fit: contain;
   gap: 30px;
   text-align: center;
}
@media (max-width: 767px) {
   .help_card {
      gap: 20px;
      justify-content: space-between;
   }
   .help_card img {
      height: 50px;
   }
}

.help_h4 {
   color: #545454;
}

// IN-ADDITION SECTION ========================================================

.in_addition_background {
 //  max-height: 462px;
   background: #F6F6F6;
}

.in_addition_wrapper {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap-reverse;
   object-fit: contain;
   justify-content: center;
   gap: 30px;
}
@media (min-width: 768px) and (max-width: 1279px) {
   .in_addition_wrapper {
      row-gap: 58px;
   }
}
@media (max-width: 767px) {
   .in_addition_wrapper {
      max-width: 94vw;
      row-gap: 42px;
      text-align: justify;
   }
}

.in_addition_text {
   max-width: 380px;
}
@media (min-width: 768px) and (max-width: 1279px) {
   .in_addition_text {
      max-width: 49vw;
   }
}
@media (max-width: 767px) {
   .in_addition_text {
      max-width: 94vw;
   }
}

.in_addition_title {
   margin-bottom: 21px;
}
@media (max-width: 767px) {
   .in_addition_title {
      text-align: center;
   }
}

.in_addition_bank {
   margin: 20px 0 20px 0;
   color: #545454;
}
@media (max-width: 767px) {
   .in_addition_bank {
      text-align: center;
      letter-spacing: 0.01em;
      margin: 23px 0 25px 0;

   }
}

.in_addition_account {
   display: flex;
   flex-direction: row;
   align-items: center;
   padding: 12px 15px 10px;
   gap: 14px;
  // width: 349px;
  // height: 43px;
   color: #545454;
   background: #F1CDB3;
   border-radius: 9px;
   margin: 15px 0 20px 0;

   img {
      color: #292929;
   }

   h4 {
      color: #545454;
   }
}
@media (max-width: 767px) {
   .in_addition_account {
      justify-content: center;
      margin: 22px 0 20px 0;
      padding: 10px 15px 10px;
   }
}

.in_addition_legal {
   font-style: italic;
   font-size: 12px;
   line-height: 18px;
   margin: 20px 0 0 0;
   color: #B2B2B2;
}

@media (max-width: 767px) {
   .in_addition_image {
      width: 81vw;
   }
}