
// HEADER ================================================================

.pets_header {
   margin-top: 30px;
   margin-bottom: 30px;
   background-color: #fff;
}

.pets-header-h1 {
      color: #545454;
     // margin: 0 10px 0 0;
   }

.pets-header-p {
      font-size: 13px;
      line-height: 15px;
      letter-spacing: 0.1em;
      margin: 10px 0 0 0;
      color: #292929;
   }

.pets_nav_item {
   color: #545454;
   text-decoration: none;
}
      
.pets_nav_hightlight {
   border-bottom: 3px solid #F1CDB3;
   padding-bottom: 3px;
   color: #292929;
}

// OUR PETS =================================================================

.pets_background {
 //  max-height: 1342px;
   margin: 0 auto;
   background-color: #F6F6F6;
}


.pets_title {
   position: relative;
   margin-bottom: 60px;
}
@media (min-width: 768px) and (max-width: 1279px) {
   .pets_title {
      margin-bottom: 30px;
   }
}
@media (max-width: 768px) {
   .pets_title {
      margin-bottom: 42px;
   }
}

.pets_slider {
   display: grid;
   grid-template-columns: repeat(4, auto);
   grid-column-gap: 40px;
   grid-row-gap: 30px;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 60px;
}
@media (min-width: 1000px) and (max-width: 1279px) {
   .pets_slider {
      grid-template-columns: repeat(3, auto);
      justify-content: center;
   }
}
@media (min-width: 768px) and (max-width: 999px) {
   .pets_slider {
      grid-template-columns: repeat(2, auto);
      justify-content: center;
   }
}
@media (max-width: 767px) {
   .pets_slider {
      grid-template-columns: repeat(1, auto);
      justify-content: center;
   }
}

@media (min-width: 768px) and (max-width: 1279px) {
   .pets_slider div:nth-child(7),
   .pets_slider div:nth-child(8) {
      display: none;
   }
}
@media (max-width: 767px) {
   .pets_slider div:nth-child(4),
   .pets_slider div:nth-child(5),
   .pets_slider div:nth-child(6),
   .pets_slider div:nth-child(7),
   .pets_slider div:nth-child(8) {
      display: none;
   }
}

.pets_arrows {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: center;
   align-items: center;
   gap: 20px;
}
@media (min-width: 768px) and (max-width: 1279px) {
   .pets_arrows {
      margin: -20px 0 -25px;
   }
}
@media (max-width: 767px) {
   .pets_arrows {
      margin-top: -20px;
      gap: 10px;
   }
}